<html>
<head>
  <meta charset='utf-8'>
  <title>Random Coffees</title>
</head>
<body>
  <h1>Happy Monday, <%= name1 %>!</h1>
  <p>Your friendly neighbourhood random coffee bot has allocated you <%= name2 %> to have a coffee with this week!</p>

  <p>Random inspirational quote to go here</p>
</body>
</html>